<h1>Sessions#login</h1>
<p>Find me in app/views/sessions/login.html.erb</p>

<h1> login page </h1>


<%= form_with(scope: :user, url: login_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %> <br>
    <%= f.label :password %>
    <%= f.password_field :password %> <br>
    <%= f.submit "Log In" %>
<% end %>